.main{
    height: 88.5vh;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    /* background-color: blue; */
}
.cardRow{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 2.5vh;
    margin-right: 2.5vw;
    justify-content: space-between;
    row-gap: 10px;
}
.graph{
    display: flex;
    flex-direction: row;
    margin-top: 2.5vw;
    /* background-color: blue; */
    
}
.pieChart{
    /* width: 75vw; */
    /* background-color: green; */
    display: flex;
    flex-direction: row;
    margin-top: 2.5vw;
    /* background-color: blue; */
}

@media only screen and (max-width: 767px) {
    .main{
        height: 72.5vh;
        overflow: scroll;
    }
    .pieChart{
        flex-direction: column;
        margin-bottom: 2.5vh;
    }
  }
  @media only screen and (max-width: 426px) {
    .main{
        margin-bottom: 2.5vh;
    }
    
  }