.container{
    display: flex;
    flex-direction: column;
}
.main{
    background-color: blue;
    height: 6vh;
    width: 75vw;
    margin: 2.5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 29px;
    padding-left: 10px;
    color: #000000;
}
.divWrapper{
    background-color: green;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}
.search{
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    background-color: white;
    border-radius: 10px;
    color: gray;
}
.search input{
    width: 150px;
    background-color: white;
    border: none;
    font-size: 10px;
}
@media only screen and (max-width: 767px) {
    .main {
        width: 95vw;
        margin-top: 0;
    }
}

@media only screen and (max-width: 425px) {
    .main {
        flex-direction: column;
        align-items: flex-start;
        height: 10vh;
    }
    .title{
        justify-content: left;
        padding-left: 10px;
    }
    .divWrapper{
        width: 100%;
    }
  }